html {
  box-sizing: border-box; }

*,
*:before,
*::after {
  box-sizing: inherit; }

body {
  background: black;
  background: linear-gradient(0deg, black 8%, #757575 100%); }

.main {
  margin: 60px auto 0; }
  .main__header {
    color: gold; }
  .main .header {
    background-color: lightblue;
    min-height: 60px;
    position: fixed;
    top: 0;
    width: 100%; }

.about__header::before {
  content: '# '; }

.aboute__header {
  color: #e7e40a; }
  .aboute__header__header__paragraph {
    color: #f4f0f4; }
  .aboute__header__header__paragraph--js {
    color: #f4f0f4; }
  .aboute__header__header--link {
    color: #f4f0f4; }

.main {
  margin: 60px auto 0; }

.navigation {
  padding: 16px;
  display: none; }
  .navigation__link {
    color: #0c254b;
    display: block;
    margin-right: 0px 0px 20px; }

.hamburger {
  position: absolute;
  top: 16px;
  right: 70px; }

@media (min-width: 768px) {
  .hamburger {
    display: none; }
  .navigation {
    padding: 16px;
    font-size: 30px;
    border-radius: 8px;
    display: flex;
    height: 150px;
    justify-content: space-evenly;
    align-items: center; }
  .main {
    max-width: 1000px;
    margin: 150px auto 0; }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .grid__foto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px; }
  .name {
    color: white; } }
